body {
  font-size:  1em;
  font-family: 'Outfit', sans-serif;
}

.background{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 217, 255);
}

.container{
  display: flex;
  flex-direction: column;
  width: 22rem;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}
.txt_bold{
  margin: 1rem 0;
  text-align: center;
  width: 90%;
  font-size: 1.5rem;
  font-weight: 700;
}
.txt_light{
  margin: 1rem 0 2rem;
  text-align: center;
  width: 90%;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.main_img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
